#can{
    height : 130px;
    border : 1px solid white;
    background-color: rgb(255, 255, 255);
  }
#can2{
    margin-left: 20px;
    height : 130px;
    border : 1px solid white;
    background-color: rgb(255, 255, 255);
  }
#can3{
    margin-left: 20px;
    height : 200px;
    border : 1px solid rgb(247, 245, 245);
    background-color: rgb(255, 255, 255);
  }
span{
    margin-left: 20px;
    margin-bottom: 20px;
}
canvas{
    margin-right: 30px;
    height: 250px;
    border: 1px solid rgb(243, 241, 241);
    background-color: rgb(255, 255, 255);
}
body{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    background-color: rgb(34, 4, 4);
}
h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
}
hr{
    margin-bottom: 60px;
}
p{
    font-size: 20px;
    font-weight: bold;
    color: rgb(18, 224, 52)
}
input{
    color: rgb(255, 255, 255);
    background-color: rgb(236, 13, 13);
    font-size: larger;
}
